<form class="d-inline" method="post" action="{{ path('delete_product', {'id': product.id}) }}" onsubmit="return confirm('Точно удалить?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button name="delete-button" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i>{{ button_text|default('') }}</button>
</form>
