{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

    <h4>Категории</h4>
    <hr>

    <div class="container">
        {% for category in categories %}
            {# @var category \App\Product\Application\DTO\ProductCategoryDTO #}
            <div class="row">
                <div class="col">
                    <a href="{{ path('list_category_product', {'id': category.id}) }}" class="btn" role="button">{{ category.name }}</a>
                </div>
            </div>
        {% else %}
            <div class="container">
                <p>Нет записей</p>
            </div>
        {% endfor %}
    </div>


{% endblock %}